* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.summary-container { 
  width: 97%;
  margin-top: 20px;
  
  text-align: center;
  font-family: Roboto Mono;
  font-size: 20px;
  font-weight: 700;
  
  border: 1px solid #F0F0F0;
  border-radius: 15px;
}

.summary-table { 
  width: 97%;
  margin: 16px;
  border-collapse: collapse;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;  
}

.summary-title { 
  background: #F0F0F0;
  border-radius: 10px 10px 0 0; 
}

.summary-heading { 
  background: #F0F0F0;
  border: 0.5px solid #DDDDDD;
  padding: 10px;
}

.summary-body-cell { 
  text-align: left;
  border:0.5px solid #DDDDDD;
  padding: 10px;
}
